.bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #e9ddff, #ffffff);
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(122, 90, 245, 0.1);
  padding: 2.5rem 3rem;
  text-align: center;
  width: 100%;
  max-width: 500px;
  border: 1px solid #dcd6f7;
}

.title {
  color: #7a5af5;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.subtitle {
  color: #4b3b73;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  text-align: left;
  color: #7a5af5;
  font-weight: 500;
  margin-top: 0.5rem;
}

/* Service Buttons */
.serviceButtons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.serviceBtn {
  background-color: #f7f3ff;
  color: #4b3b73;
  border: 1px solid #dcd6f7;
  border-radius: 25px;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.serviceBtn:hover {
  background-color: #e9e0ff;
}

.active {
  background-color: #7a5af5;
  color: white;
  border-color: #7a5af5;
}

/* Fecha y hora */
.dateTime {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dateTime input {
  flex: 1;
  padding: 0.7rem;
  border-radius: 25px;
  border: 1px solid #dcd6f7;
  background-color: #faf8ff;
  text-align: center;
}

.dateTime input:focus {
  border-color: #7a5af5;
  outline: none;
}

/* Counter */
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #faf8ff;
  border: 1px solid #dcd6f7;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin: 0 auto;
  color:#4b3b73
}

.counterBtn {
  background-color: transparent;
  border: none;
  color: #7a5af5;
  font-size: 1.4rem;
  cursor: pointer;
}

.counterBtn:hover {
  color: #6945e0;
}

/* Submit */
.submitBtn {
  background-color: #7a5af5;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn:hover {
  background-color: #6945e0;
}

/* Responsive */
@media (max-width: 480px) {
  .card {
    padding: 2rem 1.5rem;
  }

  .dateTime {
    flex-direction: column;
  }
}
